$primary-color: #00c800;
$color-white: #fff;
$color-black: #000;
$color-grey: #999;
$color-light-grey: #ccc;
$color-dark-grey: #444;
$color-green-dark: #2b7e44;

$nearly-black: #222;

$primary-color-light: rgba($primary-color, 0.2);


$background-color-primary: $primary-color;
$background-color-secondary: $color-black;
$primary-color-hover: #3b8d53;
