$primary-color: #4EBD6F;
$color-white: #fff;
$color-black: #000;
$color-grey: #999;
$color-light-grey: #bbb;
$color-dark-grey: #444;
$color-green-dark: #2b7e44;

$background-color-primary: $primary-color;
$background-color-secondary: $color-black;
$primary-color-hover: #3b8d53;
