.event-detail {
  // margin: 0 -$space-l;

  color: $color-white;
  min-height: calc( 100vh - #{$header-height} - #{$footer-height} );
  padding-bottom: 100px;
  p {
    max-width: 400px;
  }
  .event-headline {
    width: fit-content;
    background: $primary-color;
    padding: $space-m;
    color: $color-black;
    margin: $space-m 0;
    h2, h3 {
      margin-bottom: 0;
    }
  }
  .event-head {
    border-bottom: $border-s-primary;
    margin-bottom: $space-l;
    margin: 0 -15px;
    padding-top: 15px;
  }
  .event-body {

  }

}
