.event-detail {
  color: $color-white;
  min-height: calc( 100vh - #{$header-height} - #{$footer-height} );
  padding-bottom: 100px;
  box-shadow: $box-shadow-background;
  margin-top: -$space-s;

  p {
    max-width: 600px;
  }

  .event-headline {
    width: fit-content;
    background: $primary-color;
    padding: $space-m $space-xl;
    color: $color-black;
    opacity: 0.8;
    word-spacing: $space-m;
    text-transform: uppercase;
    min-height: 50px;
    h2, h3 {
      font-size: 22px;
      margin-bottom: 0;
    }
  }
  .event-head {
    border-bottom: $border-s-primary;
    margin-bottom: $space-l;
    margin: 0 -$space-l;
    padding-top: $space-l;
    background-position: center; 
    min-height: 220px;
  }
  .event-body {
    padding: $space-xl*2 $space-xl;

    .event-artist-details {
      margin-top: $space-l;
      padding-top: $space-m;
      &::before {
        border-top: $border-s-white;
        content: '';
        width: 50%;
        height: $space-m;
        display: block;
        margin: auto;
      }
    }

    ul {
      padding-left: $space-l;
      li {
        clear: both;
      }
    }
  }
  a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
  }
}

@media (max-width: 768px) {
  .event-detail {
    .event-body {
      ul {
        padding-left: 0;
      }
      .event-details {
        &::before {
          border-top: $border-s-white;
           content: '';
           width: 50%;
           height: $space-m;
           display: block;
           margin: auto;
         }
      }
    }
  }
}