footer {
  background-color: $background-color-secondary;
  min-height: $footer-height;
  border-top: $border-m-white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color: $color-white;
  padding: $space-m $space-l;
  .footer-links {
    a {
      margin: $space-m;
    }
  }

  @media (min-width: 768px) {
    .footer-content {
      width: 100%;
      margin-right: -20%;
      float: left;
      text-align: center;
    }
    .footer-links {
      float:right;
    }
  }
}
