footer {
  background-color: $background-color-secondary;
  height: 60px;
  border-top: $border-m-white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  .footer-content {
    color: $color-white;
    text-align: center;
  }
}
