button {
  height: $form-hight;
  font-size: inherit;
}
Button {
  height: $form-hight;
}
.btn-primary, .btn-danger {
  font-size: inherit;
}
.btn-secondary {
  background-color: $color-white;
  border: $border-m-primary;
  color: $color-dark-grey;
  padding: 0;
  &:hover, &:focus, &:active {
    background-color: $color-light-grey;
  }
}

.multi-select {
  .dropdown-container, .dropdown-heading {
    cursor: pointer;

    height: $form-hight;
      label {
        margin: 0;
      }
      .dropdown-heading-dropdown-arrow {
        padding: 0;

      }
  }
}

.form-group {
    text-align: left;
    margin-bottom: 0;

    .add-linkt-btn-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

    }

    .fa-asterisk {
      color: $primary-color;
      margin-top: -4px;
      font-size: smaller;
      position: absolute;
    }
    hr {
      border-color: $color-white;
    }
    .form-control, .react-tags-wrapper {
      height: $form-hight;
      margin-bottom: 1rem;

      .ReactTags__suggestions {
        z-index: 1;
        font-weight: bolder;
        li{
          margin-left: -40px;
        }
      }
    }
    select {
      padding: 0;
    }
    textarea {
      &.form-control {
        height: $form-hight*2;
      }
    }
    label {
      color: $color-white
    }
  }


  form {
    .add-content-btn {
      margin-bottom: 1rem;
    }
    hr {
    border-color: white;
  }
  .form-group {
    text-align: left;
    margin-bottom: 0;

    label {
      color: $color-white;
    }
    input {
      height: $form-hight;
    }

    div.ReactTags__tagInput {
      input.ReactTags__tagInputField {
        height: $form-hight;
        border-radius: .25rem;
      }
    }
  }
  .btn-primary {
    background-color: $primary-color;
    border: none;
    margin-top: $space-l;
    &:hover, &:focus, &:active {
      background-color: $color-green-dark;
    }
  }
}
