header {
  border-bottom: $border-m-primary;
  box-shadow:$primary-box-shadow;
  background-color: $background-color-secondary;
  text-align: center;
  min-height: $header-height;
  .header-logo {
    a {
      padding: 0;
    }
    img {
      margin-top: $space-m;
      width: 80px;

    }
  }
  .navbar {
    .user-menu-mobile {
      display: none;
    }
    .user-menu {
      width: calc( #{$dropdown-width} + #{$space-s} );
      .dropdown-toggle {
        text-align: left;
      }
    }
    padding: 0;
    a {
      border-left: $border-s-primary;
      &:hover, &:focus, &:active {
        border-left: $border-s-white;
      }
    }
  }
  .navbar-dark .navbar-nav .nav-link a, .navbar-dark .navbar-nav .nav-link, a{
    text-decoration: none;
    color: $primary-color;
    padding: $space-s $space-xl $space-s $space-m;
    &:hover, &:focus, &:active {
      color: $color-white;
      text-decoration: none;
    }
  }
  .navbar-expand-sm .navbar-nav .dropdown-menu {
    border-radius: 0;
    background-color: $primary-color;
    margin-top: $space-s;
    padding: $space-s;
    width: $dropdown-width;
    min-width: auto;
    & a {
      color: $color-white;
      border: none;
    }
    .dropdown-item:not(:last-child)  {
      border-bottom: $border-s-black;
    }
    & a:focus, & a:hover, & a.active {
      background-color: $primary-color;
      color: $color-black;
    }
  }

  @media (max-width: 576px) {
    .navbar {
      margin-bottom: -2px;
      .burger-menu {
        color: $color-white;
        font-size: x-large;
        top: -60px;
        position: absolute;
      }
      .user-menu {
        display: none;
      }
      text-align: center;
      padding: 0 $space-xl;
      .navbar-nav {
        .user-menu-mobile {
          display: grid;
          margin-left: calc(50% - #{$space-m});
          text-align: right;
          a {
            color: $color-light-grey;
            padding-right: $space-l;
            float: right;
            border: none;
          }
        }
        a {
          border-bottom: $border-s-white;
          padding: $space-m 0;
          margin: 0 $space-m;
          font-weight: bold;
          border-left: none;
          &:hover, &:focus, &:active {
            border-left: none;
          }
        }
      }
    }
  }
}
