header {
  border-bottom: $border-m-primary;
  box-shadow:$primary-box-shadow;
  background-color: $background-color-secondary;
  text-align: center;
  min-height: $header-height;
  .header-logo {
    z-index: 2;
position: relative;
background-color: black;
    a {
      padding: 0;
    }
    img {
      margin-top: $space-m;
      width: 80px;

    }
  }
  .navbar {
    #basic-navbar-nav {
      width: 100%;
      .navbar-nav {
        float: left;
      }
      .user-menu-mobile {
        display: none;
      }
      .user-menu {
        width: calc( #{$dropdown-width} + #{$space-s} );
        float: right;
        .dropdown-toggle {
          text-align: left;
        }
      }
    }
    padding: 0;
    a {
      border-left: $border-s-primary;
      &:hover, &:focus, &:active {
        border-left: $border-s-white;
      }
    }
  }
  .navbar-dark .navbar-nav .nav-link a, .navbar-dark .navbar-nav .nav-link, a{
    text-decoration: none;
    color: $primary-color;
    padding: $space-s $space-xl $space-s $space-m;
    &:hover, &:focus, &:active {
      color: $color-white;
      text-decoration: none;
    }
  }
  .navbar-expand-sm .navbar-nav .dropdown-menu {
    border-radius: 0;
    background-color: $primary-color;
    margin-top: $space-s;
    padding: $space-s;
    width: $dropdown-width;
    min-width: auto;
    & a {
      color: $color-white;
      border: none;
    }
    .dropdown-item:not(:last-child)  {
      border-bottom: $border-s-black;
    }
    & a:focus, & a:hover, & a.active {
      background-color: $primary-color;
      color: $color-black;
    }
  }

  @media (max-width: 576px) {
    .navbar {
      margin-bottom: -2px;

      #basic-navbar-nav {
        top: -120px;
        left: 0px;
        position: absolute;
        z-index: 1;
        background-color: black;
        // padding-bottom: $space-l;
        border-bottom: $border-m-primary;
        .navbar-nav {
          float: inherit;
          .user-menu-mobile {
            display: grid;
            // margin-left: calc(50% - #{$space-m});
            margin: 0 $space-m;
            border-top: $border-s-white;
            text-align: right;
            a {
              color: $color-light-grey;
              padding-right: $space-l;
              float: right;
              border: none;
            }
          }
          a {
            border-top: $border-s-white;
            padding: $space-m 0;
            margin: 0 $space-m;
            font-weight: bold;
            border-left: none;
            &:hover, &:focus, &:active {
              border-left: none;
            }
          }
        }
      }
      .burger-menu {
        z-index: 3;
        color: $color-white;
        font-size: large;
        top: -55px;
        position: absolute;
      }
      .user-menu {
        display: none;
      }
      text-align: center;
      padding: 0 $space-xl;
    }
  }
}
